<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.example.yoga01">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETE D" />

    <application
            android:allowBackup="true"
            android:hardwareAccelerated="false"
            android:icon="@mipmap/ic_launcher"
            android:label="Yoga"
            android:textColor="#FFFFFF"
            android:largeHeap="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".RecipeDetailsActivity"></activity>
        <activity android:name=".BMIActivity" />
        <activity android:name=".NutritionActivity" />
        <activity android:name=".SigninActivity" />
        <activity android:name=".Check">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StartActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".viewClickedActivity" />
        <activity android:name=".startSession" />
        <activity android:name=".nextPose" />
        <activity android:name=".Alarm" />
        <activity android:name=".SignoutActivity" />

        <receiver android:name=".myBroadcastReceiver">
            <intent-filter>
                <action android:name="com.tester.alarmmanager" />
                <action android:name="android.intent.action.BOOT_COMPLETE" />
                <action android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts" />
    </application>

</manifest>